{% extends "layout.html" %}

{% block body %}

         {% if profiles %}

            {% for profile in profiles %}
 
                {% if  profile.author_id  == resume.author_id %}

                    <div class="row">
                        <div class="col-15 col-md-5">
                        <!-- Post Content Column -->
                             
                                {% if resume.personal_image %}
                                <a href="{%url 'detail' resume.id%}"><img class="img-fluid rounded" src="{{resume.personal_image.url}}" alt="" width="200" height="200"></a>
                                {% else %}
                                <img src="/media/none.png" alt="" alt="" width="200" height="200">
                                <p style="color:red;">Kişi görseli mevcut değil</p>
                                {% endif %}
                                
                                <!-- Personal Info-->
                                <a href="{%url 'detail' resume.id%}"><h2 class="mt-4">{{resume.position}}</h2></a>
                                <div style="font-family: Cursive, Copperplate,sans-serif;color:red;font-weight:bolder "><u> Ad ve Soyad:</u> <strong style="color:black">{{resume.author.first_name}} {{resume.author.last_name}}</strong></div>
                                <div style="font-family: Cursive, Copperplate,sans-serif;color:red;font-weight:bolder "><u> Sektör:</u> <strong style="color:black">{{resume.sector}}</strong></div>
                                <div style="font-family: Cursive, Copperplate,sans-serif;color:red;font-weight:bolder "><u> City:</u> <strong style="color:black">{{profile.city}}</strong></div>
                                <div style="font-family: Cursive, Copperplate,sans-serif;color:red;font-weight:bolder "><u> Yaş:</u> <strong style="color:black">{{profile.age}}</strong></div>
                                <div style="font-family: Cursive, Copperplate,sans-serif;color:red;font-weight:bolder "><u> Cep Telefonu:</u> <strong style="color:black">{{profile.phone}}</strong></div>
                                <div style="font-family: Cursive, Copperplate,sans-serif;color:red;font-weight:bolder "><u> Oluşturulma Tarihi:</u> <strong style="color:black">{{resume.created_date}}</strong></div>
                                <hr>
                                <div style="font-family: Cursive, Copperplate,sans-serif;color:red;font-weight:bolder "><u> Önsöz: </u></div>

                                      
                                 
                               <div> {{resume.content | safe}}</div>
                                     
                         

                                <!-- Preview Image -->

                        </div>
                            <div class="col-15 col-md-5">
                                {% if resume.personal_cv %}
                                    <embed src="{{resume.personal_cv.url}}" type="application/pdf" width="800" height="800"></embed>
                                {% else %}
                                <p style="color:red;">CV mevcut değil...</p>
                                {% endif %}
                            </div>   
                                
                        
                                <!-- Post Content -->
                        
                     
                        
                    </div>

                    <hr>
                        <!-- /.row -->

 
                {% endif %}      
            {% endfor %}
    
                    
        {% endif %}
   


{% endblock body %}